---
import { SignedIn, SignedOut, SignIn, Waitlist } from "@clerk/astro/components";
import Navbar from "../layouts/Navbar.astro";
import { Button } from "@/components/ui/button"
---

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlayerStats Panel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link rel="icon" href="/favicon.svg" type="image/x-icon">
</head>
<body class="bg-gradient-to-br from-gray-900 via-purple-800 to-gray-700 text-white min-h-screen flex flex-col">
    <Navbar />
    
    <div class="flex-grow flex items-center justify-center">
        <SignedIn>
            <div class="max-w-4xl text-center p-8 bg-gray-800 rounded-2xl shadow-lg">
                <h1 class="text-4xl font-bold mb-4">Willkommen!</h1>
            </div>
        </SignedIn>
        
        <SignedOut>
            <div class="max-w-4xl text-center p-8 bg-gray-800 rounded-2xl shadow-lg flex flex-col items-center">
                <h1 class="text-4xl font-bold mb-4">PlayerStats</h1>
                <p class="text-lg text-gray-300 mb-6">Verwalte deine Stats mit unserem Dashboard.</p>
                <div class="w-full flex justify-center bg-blue-400 rounded">
                    <Button asChild>
                        <a class="login-btn" href="https://accounts.sononetwork.de/sign-in">Login</a>
                    </Button>
                </div>
            </div>
        </SignedOut>
    </div>
</body>
<style>
    .login-btn {
        width: 100%;
        padding: 10px 0 10px 0;
    }
</style>
</html>